.bigtext1 {
    font-size: 60px;
    color: #ffffff;
    font-weight: 500;
    height: 97px;
  }
  
  .bigtext2 {
    font-size: 18px;
    font-weight: 500;
    opacity: 30%;
    color: #ffffff;
  }
  